.tile {
  background-color: white;
  outline: 1px solid black; }

.sidebar {
  height: 100vh;
  background-color: black;
  width: 100%; }

.canvas {
  height: 100vh; }

.container {
  margin: 0;
  padding: 0;
  width: 100%; }

.row {
  margin: 0;
  padding: 0; }

.draggable-table .panel-heading {
  font-weight: bold; }

.draggable-table .panel {
  width: 25%; }
